---
interface Props {
    nameProyect: string;
}

const { nameProyect } = Astro.props;
---

<section
    id="ControlSection"
    class="landing-section h-screen w-screen text-center overflow-hidden relative"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-28 pb-10 text-4xl font-medium">
                Panel de Control 👨‍💻 <strong>{nameProyect}</strong>
            </h2>
        </header>
        <div class="flex flex-col flex-grow text-center">
            <h3 class="card-header text-xl font-medium text-center px-10 py-2">
                Riego Automatico | <a id="button-riego-img" href="#"> Detalles</a>
            </h3>
          
            <div class="flex flex-grow bg-white py-3" id="div-control"></div>
        </div>
        <article id="image-modal" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" id="cerrar-imagen-modal">&times;</span>
                <img class="w-full" src="/assets/Riego-auto-functions.png" alt="imagen del algoritmo de riego automatico">
            </div>
        </article>
        <article id="control-modal" class="modal">
            <div class="modal-contenido" >
                <span class="cerrar" id="cerrar-control-modal">&times;</span>
                <div id="realtime-action" style="display:none">

                    <h3 class="text-indigo-800 text-base py-6 border" >Escritura en Realtime en respuesta al cumplimiento de una condición</h3>
                <form id="realtime-action-form" autocomplete="on" class="py-4 [&>input]:w-auto [&>input]:justify-center [&>input]:text-base [&>input]:font-normal [&>input]:rounded-md [&>input]:transition-colors">
                    <label for="compareRef">Referencia Para Comparación:</label>
                    <input type="text" id="compareRef" name="compareRef" placeholder="CultivoDispFinal/nodo/database" value="CultivoDispFinal/" required><br>
                    <label for="operation">Operación:</label>
                    <select id="operation" name="operation" class="text-indigo-800" required>
                        <option value=">"> mayor que &gt; </option>
                        <option value="<"> menor que &lt; </option>
                        <option value="=="> igual == </option>
                        <option value="!="> diferente != </option>
                    </select>                 
                    <label for="target">Valor Objetivo:</label>
                    <input type="text" id="target" name="target"placeholder="Valor de la condición" required><br>
                    <label for="resolveRef">Referencia Para Escritura:</label>
                    <input type="text" id="resolveRef" name="resolveRef" placeholder="CultivoDispFinal/nodo/database"  value="CultivoDispFinal/" required><br>
                    <label for="resolveVal">Valor Escritura:</label>
                    <input type="text" id="resolveVal" name="resolveVal" placeholder="" required><br>
                    <br><br> 
                    <input type="submit" class="text-indigo-800 border-indigo-800 border-[2px] rounded font-medium text-base px-12 py-2 bg-white/5 backdrop-blur-2xl hover:bg-indigo-900 hover:text-white transition-colors" value="Enviar">
                </form>

                </div>
                <div id="realtime-notification" style="display:none">
                    <h3 class="text-indigo-800 text-base py-6 border">Notificaciones en respuesta al cumplimiento de una condición</h3>
                    <form id="realtime-notification-form" autocomplete="on" class="py-4 [&>input]:justify-center [&>input]:text-base [&>input]:font-normal [&>input]:rounded-md [&>input]:transition-colors">
                        <label for="compareRefN">Referencia Para Comparación:</label>
                        <input type="text" id="compareRefN" name="compareRef" placeholder="CultivoDispFinal/nodo/database" value="CultivoDispFinal/" required><br>
                        <label for="operationN">Operación:</label>
                        <select id="operationN" name="operationN" class="text-cyan-800" required>
                            <option value=">"> mayor que &gt; </option>
                            <option value="<"> menor que &lt; </option>
                            <option value="=="> igual == </option>
                            <option value="!="> diferente != </option>
                        </select>
                        <label for="targetN">Valor Objetivo:</label>
                        <input type="text" id="targetN" name="target" placeholder="Valor de la condición" required><br>
                        <label for="msgN">Mensage de la Notificación:</label><br>
                        <input type="text" class="w-full" id="msgN" name="msg" required><br>
                        <br>
                        <input type="submit" class="text-cyan-800 border-cyan-800 border-[2px] rounded font-medium text-base px-12 py-2 bg-white/5 backdrop-blur-2xl hover:bg-indigo-900 hover:text-white transition-colors" value="Enviar">
                    </form>
                </div>
            </div>
        </article>
        <div class="gap-x-4 flex justify-center">

            <a
            id="button-show-actions"
            class="text-indigo-800 border-indigo-800 border-[2px] rounded font-medium text-base px-12 py-2 bg-white/5 backdrop-blur-2xl hover:bg-indigo-900 hover:text-white transition-colors"
            href="#"
            >
            Acciones en Realtime</a
            >
            <a
            id="button-show-messaging"
            class="text-cyan-700 border-cyan-700 border-[2px] rounded font-medium text-base px-12 py-2 bg-white  backdrop-blur-2xl hover:bg-cyan-900 hover:text-white transition-colors"
            href="#"
            >
            Notificación</a
            >          
        </div>
        <footer class="pb-3 px-3 flex flex-row justify-end">
            <a href="https://mecatronica.utn.edu.ec/" rel="home" itemprop="url">
                <img width="204" height="36" src="https://mecatronica.utn.edu.ec/wp-content/uploads/2019/01/cropped-mecatronica.png" class="custom-logo" alt="" itemprop="logo" 
                srcset="https://mecatronica.utn.edu.ec/wp-content/uploads/2019/01/cropped-mecatronica.png 511w, https://mecatronica.utn.edu.ec/wp-content/uploads/2019/01/cropped-mecatronica-300x58.png 300w, https://mecatronica.utn.edu.ec/wp-content/uploads/2019/01/cropped-mecatronica-360x70.png 360w" 
                sizes="(max-width: 511px) 100vw, 511px">
            </a>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <!-- <video
            class="object-center object-cover h-full"
            autoplay
            loop
            muted
            src="/Homepage-Model-Y-Desktop-NA.mp4"></video> -->
    </div>
</section>

<script>

    const modal = document.getElementById("control-modal");
    const showRealtimeActions = document.getElementById("button-show-actions");
    const showRealtimeMessaging = document.getElementById("button-show-messaging");
    const cerrarModal = document.getElementById("cerrar-control-modal");

    const realtimeAction = document.getElementById("realtime-action")
    const realtimeNotification = document.getElementById("realtime-notification")

    const modalImg = document.getElementById("image-modal");
    const showRiegoImg = document.getElementById("button-riego-img")
    const cerrarImg = document.getElementById("cerrar-imagen-modal")

     showRealtimeActions.addEventListener("click", function () {
        modal.style.display = "block";
        realtimeAction.style.display = "block";
        realtimeNotification.style.display = "none";
    });

    showRealtimeMessaging.addEventListener("click", function () {
        modal.style.display = "block";
        realtimeNotification.style.display = "block";
        realtimeAction.style.display = "none"
    });

    showRiegoImg.addEventListener("click", function () {
        modalImg.style.display = "block";
        modal.style.display = "none";
    });

    cerrarModal.addEventListener("click", function () {
        modal.style.display = "none";
    });

    cerrarImg.addEventListener("click", function () {
        modalImg.style.display = "none";
    });

    window.addEventListener("click", function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
        if (event.target ===modalImg) {
            modalImg.style.display = "none";
        }
    });



 
</script>

<style>

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-contenido {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 40px;
        border: 1px solid #888;
        width: 60%;
        border-radius: 1rem;
    }

    .cerrar {
        color: #aaa;
        float: right;
        font-size: 40px;
        font-weight: bold;
    }

    .cerrar:hover,
    .cerrar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .form-control {
        display: none;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition:
            border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
    }
</style>
