---
import Card from "./Card.astro"
---
<section
    class="landing-section h-screen w-screen text-center overflow-hidden relative"
    data-header-color="white"
>

<div class="z-30 relative h-full flex flex-col">
    <header class="pt-40 pb-10">
        <h2 class="text-white font-bold text-3xl">Bienvenidos a</h1>
        <h1 class="text-white pb-4 text-gradient">Riego IoT</h2>
        <h3 class="text-white text-xs font-medium"> Aplicación para la administración de un sistema de riego inteligente</h3>
    </header>            
    
    <div id="home-options" class="w-[60%] mx-auto flex justify-center py-6" style="display:none">        
        <p class="text-white text-xs pb-4">
            Para una introducción revisa los siguientes recursos del proyecto
             <!-- en el <a href="https://utneduec-my.sharepoint.com/:f:/g/personal/brdavalosa_utn_edu_ec/EjrcVu8U3e9Kkv823-MWF78BOkghHHn4_vtOji7aB1egAg?e=gO2f8B"><code>enlace</code></a> del projecto. -->
        </p>
        <ul role="list" class="mx-auto w-fit">
            <Card href="https://utneduec-my.sharepoint.com/:f:/g/personal/brdavalosa_utn_edu_ec/EjrcVu8U3e9Kkv823-MWF78BOkghHHn4_vtOji7aB1egAg?e=QU1c9Y" title="Documentación"
            body="Informe del proyecto de la aplicación de administración de rigo inteligente." />  <br>
            <Card href="https://github.com/Bry-anD/firebase-application" title="Código"
            body="Enlace al repositorio de la aplicación en github" />
            <!-- <Card href="https://utneduec-my.sharepoint.com/:f:/g/personal/brdavalosa_utn_edu_ec/EjrcVu8U3e9Kkv823-MWF78BOkghHHn4_vtOji7aB1egAg?e=q8Nqbd" title="Diagramas de Flujo"
            body="Enlace a los diagrama de flujos del funcionamiento de la aplicación para usuarios autenticados/no autenticados y riego auto" />
            <Card href="#" title="Comentarios"
            body="" /> -->
        </ul>
    </div>
        
    <footer class="flex flex-grow flex-nowrap justify-end flex-col pb-10">
        <div>
            <a
                class="text-white border-[3px] rounded font-medium text-xs px-12 py-2 border-white bg-white/5 backdrop-blur-3xl hover:bg-white hover:text-black transition-colors"
                href="#PanelSection"
            >
                Continuar al proyecto</a
            >
        </div>
    </footer>
</div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <!-- <video
            class="object-center object-cover h-full w-full blur-sm"
            autoplay
            loop
            muted
            src="/assets/Homepage-Model-Y-Desktop-NA.mp4"></video> -->
        <img class="object-center object-cover h-full w-full" src="/assets/vecteezy_epic-photography-shot-of-rainy-season-background-enjoying_29772042.jpeg" alt="Landing Home image">
    </div>
    
</section>


<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }

    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        /* margin-bottom: 1em; */
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        margin-bottom: 2rem;
        border: 1px solid rgba(var(--accent-light), 25%);
        background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
        padding: 1.5rem;
        border-radius: 8px;
    }

    .instructions code {
        font-size: 0.8em;
        font-weight: bold;
        background: rgba(var(--accent-light), 12%);
        color: rgb(var(--accent-light));
        border-radius: 4px;
        padding: 0.3em 0.4em;
    }

    .instructions strong {
        color: rgb(var(--accent-light));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1.25rem;
        padding: 0;
    }
</style>